html {
	height: 100%;
	font-size: 100%;
}
body {
	text-align: center;
	height: 100%;
}
.main {
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	position: relative;
}
.search_field {
	width: 15%;
}
//記事一覧（かぎかっこ）
.box19 {
	object-fit: contain;
	font-size: 30px;
	position: relative;
	padding: 1em 1em;
	margin: 0 3.5em;
}
.box19:before,
.box19:after {
	content: "";
	width: 20px;
	height: 30px;
	position: absolute;
	display: inline-block;
}
.box19:before {
	border-left: solid 7px #0a9bd7;
	border-top: solid 7px #0a9bd7;
	top: 0;
	left: 0;
}
.box19:after {
	border-right: solid 7px #0a9bd7;
	border-bottom: solid 7px #0a9bd7;
	bottom: 0;
	right: 0;
}
//記事詳細画面のタイトル文字
.box19 h1 {
	font-family: "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
	font-size: 100px;
	margin: 0;
	padding: 0;
}
//-----------------------------------------------------
img.icon-image {
	width: 80px;
	height: 80px;
	border-radius: 100px;
	object-fit: cover;
}
.image_form {
	margin: auto;
	text-decoration: none;
}
.article_title {
	font-family: "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
	font-size: 100px;
}

.article-title-from {
	display: inline-block;
	width: 400px;
	height: 100px;
	padding: 1em;
	line-height: 3;
	box-sizing: border-box;
	margin: auto;
	margin-bottom: 50px;
}
.comment-create {
	width: 100%;
}
.comment-form {
	font-size: 30px;
	display: inline-block;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	margin: 0.5em 0;
	line-height: 2;
	height: 5em;
}

.user_wrapper {
	display: inline-flex;
}

.user_icon {
	margin-right: 30px;
}

.user_info {
	padding-top: 10px;
}

.user_likehack {
	padding-top: 10px;
}

//コメント吹き出しふうまだできてない
.balloon2-top {
	position: relative;
	display: inline-block;
	margin: 1.5em 0;
	padding: 7px 10px;
	width: 800px;
	max-width: 100%;
	color: #555;
	font-size: 20px;
	background: #fff;
	border: solid 3px #555;
	box-sizing: border-box;
}

.article_title {
	position: relative;
	padding: 0.25em 1em;
	margin: 0 20%;
	object-fit: contain;
}
.article_title:before,
.article_title:after {
	content: "";
	width: 40px;
	height: 40px;
	position: absolute;
	display: inline-block;
}
.article_title:before {
	border-left: solid 10px #0a9bd7;
	border-top: solid 10px #0a9bd7;
	top: 0;
	left: 0;
}
.article_title:after {
	border-right: solid 10px #0a9bd7;
	border-bottom: solid 10px #0a9bd7;
	bottom: 0;
	right: 0;
}
.article_title h1 {
	font-family: "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
	font-size: 100px;
	margin: 0;
	padding: 0;
}
.comment-box {
	margin-top: 60px;
}

.actions {
	margin-bottom: 10px;
}
.pagination {
	margin-left: 50px;
}
