html {
	height: 100%;
	font-size: 100%;
}
body {
	text-align: center;
	height: 100%;
}
.main {
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	position: relative;
}
//記事一覧css 付箋ふう
.card-title {
	display: flex;
	height: auto;
	padding: 0.4em 0.5em; /*文字の上下 左右の余白*/
	color: #494949; /*文字色*/
	background: #f4f4f4; /*背景色*/
	border-left: solid 5px #7db4e6; /*左線*/
	border-bottom: solid 3px #d7d7d7; /*下線*/
}
//かぎかっこ風
.box19 {
	position: relative;
	padding: 0.25em 1em;
}
.box19:before,
.box19:after {
	content: "";
	width: 20px;
	height: 30px;
	position: absolute;
	display: inline-block;
}
.box19:before {
	border-left: solid 1px #5767bf;
	border-top: solid 1px #5767bf;
	top: 0;
	left: 0;
}
.box19:after {
	border-right: solid 1px #5767bf;
	border-bottom: solid 1px #5767bf;
	bottom: 0;
	right: 0;
}
.box19 p {
	margin: 0;
	padding: 0;
}
//-----------------------------------------------------
img.icon-image {
	width: 80px;
	height: 80px;
	border-radius: 100px;
	object-fit: cover;
}
.image_form {
	margin: auto;
	text-decoration: none;
}
.article_title {
	font-family: "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
	font-size: 100px;
}
.article-title-from {
	display: inline-block;
	width: 100%;
	padding: 1em;
	line-height: 3;
	box-sizing: border-box;
	margin: auto;
}
.comment-create {
	width: 100%;
}
.comment-form {
	font-size: 30px;
	display: inline-block;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	margin: 0.5em 0;
	line-height: 2;
	height: 5em;
}

.user_wrapper {
	display: inline-flex;
}

.user_icon {
	margin-right: 30px;
}

.user_info {
	padding-top: 10px;
}

.user_likehack {
	padding-top: 10px;
}

//コメント吹き出しふうまだできてない
.balloon2-top {
	position: relative;
	display: inline-block;
	margin: 1.5em 0;
	padding: 7px 10px;
	width: 800px;
	max-width: 100%;
	color: #555;
	font-size: 18px;
	background: #fff;
	border: solid 3px #555;
	box-sizing: border-box;
}
/*陰影をストライプにしたボタンとの差分*/
a.btn-border {
	border: 2px solid #000;
	border-top: 1px solid #000;
	border-radius: 0 0 0.5rem 0.5rem;
	background: -webkit-repeating-linear-gradient(
		left,
		#000,
		#000 1px,
		transparent 2px,
		transparent 6px
	);
	background: repeating-linear-gradient(
		to right,
		#000,
		#000 1px,
		transparent 2px,
		transparent 6px
	);
	background-size: 12px 12px;
}
