.top_container {
	width: 768px;
	margin: 0 auto;
	text-align: center;
}

.top_container .title {
	margin: 56px auto;
	max-width: 50%;
	min-width: 600px;
}

.top_container .comment {
	margin: 30px auto;
}

.top_image {
	margin: 0 auto;
}

.guest_login li {
	font-size: 18px;
	margin: 4px auto;
}
.top_logo {
	height: 400px;
	width: 1000px;
}
