.top_container {
	width: 768px;
	margin: 0 auto;
	text-align: center;
}

.top_container .title {
	margin: 56px auto;
	max-width: 100%;
	min-width: 800px;
}

.top_container .comment {
	font-size: 20px;
	margin: 0px auto;
}

.guest_login {
	font-size: 30px;
	margin: 4px auto;
}
.top_menu_logo {
	height: 500px;
	width: 1000px;
}
.top_menu_right {
	float: right;
}
// .top_menu_right li {
// 	float: left;
// 	width: auto;
// 	margin-top: 15px;
// }
