<h1> リクエストありがとうございます！</h1>

<p>
  <strong>ニックネーム:</strong>
  <%= @request_theme.name %>
</p>

<p>
  <strong>リクエストテーマ:</strong>
  <%= @request_theme.title %>
</p>

<%= link_to 'リクエスト編集', edit_request_theme_path(@request_theme), class: "btn btn-outline-info" %> |
<%= link_to '記事一覧', articles_path, class:"btn btn-outline-primary" %>
