<div class="top_container">
  <%= link_to articles_path do %>
    <%= image_tag "lifehack_logo.png" , class:'title' %>
    <h2>ライフハック</h2>
  <% end %>
  <div class="comment">
    <p>みんなの悩みをライフハックで解決！</p>
    <p>このサイトはクールダウン環境がある施設を集めたサイトです</p>
  </div>
