body {
	margin: 0;
	padding: 0;
	background-color: f3f3f3;
	min-height: 100vh;
	position: relative;
	padding-bottom: 20px;
	box-sizing: border-box;
	font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", sans-serif;
	font-weight: 500;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
.header {
	margin-top: 10px;
	height: 50px;
	width: 99%;
	font-size: 1rem;
	font-family: "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
	display: table;
}

.header .logo {
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	height: 100px;
	width: 200px;
}

.header_container {
	margin: 32px;
}
.footer {
	font-family: "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", sans-serif;
	bottom: 0;
	position: absolute;
	margin: auto;
	width: 100%;
}
